*{
    margin: 0;
    padding: 0;
}
main{
    background-color: rgb(113, 218, 97);
    width: 100vh;
    height: 100vh;
    display: flex;
}
section{
    background-color: antiquewhite;
    width: 30vh;
    height: 30vh;
    margin: auto;
    border: 2px solid gray;
    border-radius: 20px;
    padding: auto;
    font-weight: 700;


}
h1{
    text-align: center;
    padding: 20px;
}
span{
    text-align: center;
    padding: 50px
    
}
ul{
    list-style: none;
}