*{
    margin: 0;
    padding: 0;
  
}
.contenedor{
    width: 400px;
    border: 5px solid gray;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.imagen{
    display: flex;
    justify-content: center;
}
.producto{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(20, 8, 8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: antiquewhite;
    padding: 20px;
}
.boton{
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
}
button{
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 6px 6px 2px 0px rgba(255, 252, 252, 0.75);
    font-style: italic;
 
}
.descripcion{
    margin: 20px;
}
.descripcion2{
    line-height: 2em;
}
.precio{
    margin: 20px auto;
}